{% load static %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" integrity="sha384-w76AqPfDkMBDXo30jS1Sgez6pr3x5MlQ1ZAGC+nuZB+EYdgRZgiwxhTBTkF7CXvN" crossorigin="anonymous"></script>
<link rel="stylesheet" href="{% static 'css/styles.css' %}">
<!DOCTYPE html>
<html>
<head>
<nav class="navbar navbar-expand-sm navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand" href="{% url 'home' %}">Discover yourself</a>
        <button class="navbar-toggler d-lg-none" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav me-auto mt-2 mt-lg-0">
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'home' %}" aria-current="page">Home <span class="visually-hidden">(current)</span></a>
                </li>
                {% if request.user.is_authenticated %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">My profile</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="#">Hi, {{user.name}}</a>
                        <hr class="dropdown-divider">
                        <a class="dropdown-item" href="{% url 'your_results' %}">My results</a>
                        <a class="dropdown-item" href="#">Edit profile</a>
                        <a class="dropdown-item" href=" {% url 'log_out' %}">Log out</a>
                    </div>
                </li>
                {% else %}
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'login' %}" aria-current="page">Log in <span class="visually-hidden">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" href="{% url 'register' %}" aria-current="page">Register <span class="visually-hidden">(current)</span></a>
                </li>
                {% endif %}
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Psychological tests</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'tests-list' %}">All tests</a>
                    </div>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Numerology</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="{% url 'soul_number' %}">My Soul number</a>
                        <a class="dropdown-item" href="{% url 'destiny_number' %}">My Destiny number</a>
                        <a class="dropdown-item" href="{% url 'pithagor_matrix' %}">My Pithagor matrix</a>
                    </div>
                </li>
            </ul>
        </div>
  </div>
</nav>

</head>
<body>
    <figure class="text-end">
        <div class="card">
        <div class="card-body">
            <blockquote class="blockquote mb-1">
            <p>“Knowing yourself is the beginning of all wisdom.”</p>
            <footer class="blockquote-footer">Aristotel </footer>
            </blockquote>
        </div>
        </div>
    </figure>
    {% if messages %}
<div class="alert alert-primary" role="alert">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</div>
{% endif %}
{% block content %}{% endblock %}
</body>
</html>