/* Добавляем отступы от правой и левой границы экрана */
body {
  margin: 0 3rem;
}

head {
  margin: 0;
}

/* Делаем заголовок вопроса более заметным */
h3.display-5,
h3.display-6 {
  margin-top: 2rem;
  text-align: center;
}

/* Добавляем отступы между полями формы */
form > * {
  margin-bottom: 1rem;
}

/* Убираем маргиналы у формы */
form {
  margin: 0;
}

form button:not(:last-child) {
  border-right: 1px solid #cccccc;
  padding-right: 0.5rem;
}

/* Адаптивная картинка */
.home-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: bottom;
}
.display-1 {
  text-align: center;
  font-weight:500;
  margin-bottom: 3rem;
  margin-top: 3rem;

}